.tech::before {
  content: "COACH";
  color: #22ff00;
}

.coach::after {
  content: "TECH";
  color: #ff2255;
}

/* contentで画像出力 */
/* .ttl::before {
  content: url(../img/inspiration.svg); */
 /* }  */

/* backgroundで画像出力 */
.ttl::before {
  content: "";
  background: url(../img/inspiration.svg);
  background-size: cover;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.download__btn{
  position: relative;
  background-color: #55bbbb;
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  margin: 100px auto;
}

.download__btn::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  background: url(../img/download__icon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0,-50%);
}

/* 吹き出し */
.speech__bubble {
  background: red;
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 150px;
  max-width: 100%;
  color: #fff;
}

/* .speech__bubble::before {
  content: "";
  position: absolute;
  left: 40%;
  margin-left: 30px;
  bottom: 20px solid transparent;
  border-top: 20px solid #000;
  z-index: 3;
} */

.speech__bubble::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  bottom: 20px;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid red;
}

.speech__bubble p {
  margin: 0;
  padding: 0;
}

.icon{
  position: relative;
  background-color: #55bbbb;
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  margin: 100px auto;
}

.icon01{
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  background: url(../img/download__icon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0,-50%);
}